@using ImagePrint.Models.ViewModels
@model List<ImagePrint.Models.ViewModels.ImageDetail>
@using (Html.BeginForm("SetImageDetails","Print", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        @foreach (ImageDetail imgDetail in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="@Url.Content(imgDetail.Image.ImageName)" alt="Image" class="card-img-top img-thumbnail" style="max-width:100%" />
                    <div class="card-body">
                        @imgDetail.OrderDetail.OrderId
                    </div>
                </div>
            </div>
        }
    </div> 
}